@import url('reset.css');
@import url('normalize.css');
@import url('fuentes.css');
@import url('header.css');

/*------------ estructura del al pagina ---------*/

body {
	background: #2d2d2d;
	font-family: Arial, Helvetica, Sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

#wrap {
	width: 960px;
	margin: auto;
	clear: both;
}

/*---Main---*/
#main {
	width: 100%;
	float: left;
}

/*---Slider---*/

#slideshow {
	width: 920px;
	height: 260px;
	float: left;
	background: #000;
	border: solid 20px #fff;
	margin-bottom: 10px;
	position: relative;
}

#slideshow img {
	width: 796px;
	height: 260px;
	position: absolute;
	left: 62px;
}

/*---Contenido---*/

#Contenido {
	width: 700px;
	float: left;
	margin-bottom: 10px;
}

#Contenido article {
	float: left;
	margin-bottom: 20px;
}

#Contenido article .title {
	font-family: courgette;
	font-size: 21px;
	color: #fff;
	margin: 0px;
}

#Contenido article .fecha {
	font-size: 14px;
	font-family: indieflower;
	color: #1798af;
	margin: 0px 0px 5px 0px;
}

#Contenido article .imagen {
	width: 220px;
	height: 150px;
	float: left;
	margin: 0px 10px 10px 0px;
}

#Contenido article > p {
	color: #8c8c8c;
	font-size: 14px;
	text-align: justify;
}

/*---sidebar---*/

aside {
	width: 220px;
	float: left;
	margin-left: 20px;
	background: #4d78b3;
	padding: 10px 10px 0px 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 2px 2px #000;
	-moz-box-shadow: 0px 2px 2px #000;
	-webkit-box-shadow: 0px 2px 2px #000;
}

aside .widget {
	margin-bottom: 10px;
	float: left;
}

aside .widget > h3 {
	background: #fff;
	color: #4d78b3;
	width: 220px;
	padding: 10px 0px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: courgette;
}

aside .widget a {
	color: #fff;
}

aside .widget a ul li {
	margin-bottom: 5px;
}

aside .widget img {
	width: 220px;
}

/*---Footer---*/

footer {
	background: ;
	width: 100%;
	float: left;
	clear: both;
	box-shadow: 0px 2px 2px #000;
	-moz-box-shadow: 0px 2px 2px #000;
	-webkit-box-shadow: 0px 2px 2px #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,212121+100 */
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(33,33,33,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(33,33,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(33,33,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}

footer section {
	width: 440px;
	float: left;
	padding: 20px;
}

footer #acerca-de {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
	text-align: justify;
	line-height: 15px;
	color: #8c8c8c;
}

footer #acerca-de h3 {
	font-family: lobster;
	font-size: 22px;
	margin-bottom: 10px;
	color: #fff;
}

footer #redes-sociales > div {
	width: 210px;
	height: 60px;
	float: left;
	opacity: 0.7;
}

footer #redes-sociales > div a {
	width: 220px;
	height: 60px;
	display: inline-block;
}

footer #redes-sociales > div:hover {
	opacity: 1;
}

footer #redes-sociales .facebook {
	background: url(../imagenes/facebook.png);
	margin-bottom: 15px;
}

footer #redes-sociales .youtube {
	background: url(../imagenes/youtube.png);
	margin-bottom: 15px;
}

footer #redes-sociales .twitter {
	background: url(../imagenes/twitter.png);
}

footer #redes-sociales .email {
	background: url(../imagenes/correo.png);
}

#copyright {
	width: 100%;
	float: left;
	margin: 10px;
	text-align: center;
	font-family: courgette;
	color: #fff;
}