@import url('reset.css');
@import url('normalize.css');
@import url('fuentes.css');
@import url('header.css');

/*------------ estructura del al pagina ---------*/

body {
	background: #CBF9DA;
	font-family: Arial, Helvetica, Sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

#wrap {
	width: 960px;
	margin: auto;
	clear: both;
}

/*---Main---*/
#main {
	width: 100%;
	float: left;
}

/*---Slider---*/

#slideshow {
	width: 866px;
	height: 650px;
	float: left;
	background: #000;
	border: solid 20px rgba(0,221,255,1);
	margin-bottom: 10px;
	position: relative;
	left: 28px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#slideshow img {
	width: 864px;
	height: 648px;
	position: absolute;
	left: 1px;
	top: 1px;
}

/*---Contenido---*/

#Contenido {
	width: 700px;
	float: left;
	margin-bottom: 10px;
}

#Contenido article {
	float: left;
	margin-bottom: 20px;
}

#Contenido article .title {
	font-family: courgette;
	font-size: 21px;
	color: #3E6B89;
	margin: 0px;
}

#Contenido article .fecha {
	font-size: 14px;
	font-family: indieflower;
	color: #3DD2CC;
	margin: 0px 0px 5px 0px;
}

#Contenido article .imagen {
	width: 220px;
	height: 150px;
	float: left;
	margin: 0px 10px 10px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#Contenido article > p {
	color: #122D42;
	font-size: 14px;
	text-align: justify;
}

/*---sidebar---*/

aside {
	width: 220px;
	float: left;
	margin-left: 20px;
	background: #3DD2CC;
	padding: 10px 10px 0px 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 2px 2px #000;
	-moz-box-shadow: 0px 2px 2px #000;
	-webkit-box-shadow: 0px 2px 2px #000;
}

aside .widget {
	margin-bottom: 10px;
	float: left;
}

aside .widget > h3 {
	background: #fff;
	color: #4d78b3;
	width: 220px;
	padding: 10px 0px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: courgette;
}

aside .widget a {
	color: #fff;
}

aside .widget a ul li {
	margin-bottom: 5px;
}

aside .widget img {
	width: 220px;
}

/*---Footer---*/

footer {
	width: 100%;
	float: left;
	clear: both;
	box-shadow: 0px 2px 2px #000;
	-moz-box-shadow: 0px 2px 2px #000;
	-webkit-box-shadow: 0px 2px 2px #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/* Degrade*/
	background: rgba(0,221,255,1);
	background: -moz-linear-gradient(left, rgba(0,221,255,1) 0%, rgba(0,194,224,1) 50%, rgba(0,221,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,221,255,1)), color-stop(50%, rgba(0,194,224,1)), color-stop(100%, rgba(0,221,255,1)));
	background: -webkit-linear-gradient(left, rgba(0,221,255,1) 0%, rgba(0,194,224,1) 50%, rgba(0,221,255,1) 100%);
	background: -o-linear-gradient(left, rgba(0,221,255,1) 0%, rgba(0,194,224,1) 50%, rgba(0,221,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,221,255,1) 0%, rgba(0,194,224,1) 50%, rgba(0,221,255,1) 100%);
	background: linear-gradient(to right, rgba(0,221,255,1) 0%, rgba(0,194,224,1) 50%, rgba(0,221,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ddff', endColorstr='#00ddff', GradientType=1 );
}

footer section {
	width: 440px;
	float: left;
	padding: 20px;
}

footer #acerca-de {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
	text-align: justify;
	line-height: 15px;
	color: #122D42;
}

footer #acerca-de h3 {
	font-family: lobster;
	font-size: 22px;
	margin-bottom: 10px;
	color: #fff;
}

footer #redes-sociales > div {
	width: 210px;
	height: 60px;
	float: left;
	opacity: 0.7;
}

footer #redes-sociales > div a {
	width: 220px;
	height: 60px;
	display: inline-block;
}

footer #redes-sociales > div:hover {
	opacity: 1;
}

footer #redes-sociales .facebook {
	background: url(../imagenes/facebook.png);
	margin-bottom: 15px;
}

footer #redes-sociales .youtube {
	background: url(../imagenes/youtube.png);
	margin-bottom: 15px;
}

footer #redes-sociales .twitter {
	background: url(../imagenes/twitter.png);
}

footer #redes-sociales .email {
	background: url(../imagenes/correo.png);
}

#cont {
	margin-top: 15px;
	width: 100%;
	float: left;
}

#maps {
	float: left;
	width: 50%;
}

#maps iframe {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px; 
	width: 100%; 
	height: 100%;
}

#info {
	width: 45%;
	float: left;
	margin-left: 5%;
	font-family: lobster;
	font-size: 23px;
	color: #3E6B89;
}

#info a {
	color: #3DD2CC;
}

#copyright {
	width: 100%;
	float: left;
	margin: 10px;
	text-align: center;
	font-family: courgette;
	color: #015051;
}