@import url('reset.css');
@import url('normalize.css');
@import url('fuentes.css');
@import url('header.css');

/*------------ estructura del al pagina ---------*/

body {
	background: #CBF9DA;
	font-family: Arial, Helvetica, Sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

#wrap {
	width: 70%;
	margin: auto;
	clear: both;
	height: auto;
}

/*---Main---*/
#main {
	width: 100%;
	float: left;
	margin: auto;
}

/*---Contenido---*/

#Contenido {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

#Contenido article {
	float: left;
	margin-bottom: 20px;
}

#Contenido article .title {
	font-family: courgette;
	font-size: 35px;
	color: #3E6B89;
	margin: 0px;
	text-align: center;
}

#Contenido article .fecha {
	font-size: 14px;
	font-family: indieflower;
	color: #3DD2CC;
	margin: 0px 0px 5px 0px;
}

#Contenido article .imagen {
	width: 45%;
	height: auto;
	float: left;
	margin: 0px 10px 10px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#Contenido article > p {
	color: #122D42;
	font-size: 14px;
	text-align: justify;
}

#copyright {
	width: 100%;
	float: left;
	margin: 10px;
	text-align: center;
	font-family: courgette;
	color: #015051;
}